h1 {
  // > 1280px || < 1920px = Font-size          
  font-size: 80px;
  // < 1920px = (Font-size - (Font-size + (Font-size * 0.25))
  @media screen and (min-width: 1920px){font-size: 100px;}
  // > 1024px || < 1280px = (Font-size - (Font-size * 0.2)
  @media screen and (max-width: 1280px){font-size: 64px;}
  // > 820px || < 1024px = (Font-size - (Font-size * 0.15)
  @media screen and (max-width: 1024px){font-size: 54px;}
  // > 640px || < 820px = (Font-size - (Font-size * 0.15)
  @media screen and (max-width: 820px){font-size: 46px;}
  // > 640px || < 820px = (Font-size - (Font-size * 0.15)
  @media screen and (max-width: 640px){font-size: 40px;}
}

h2 {
  // > 1280px || < 1920px = Font-size          
  font-size: 60px;
  // < 1920px = (Font-size - (Font-size + (Font-size * 0.2)) 
  @media screen and (min-width: 1920px){font-size: 72px;}
  // > 1024px || < 1280px = (Font-size - (Font-size * 0.15)
  @media screen and (max-width: 1280px){font-size: 52px;}
  // > 820px || < 1024px = (Font-size - (Font-size * 0.15)
  @media screen and (max-width: 1024px){font-size: 44px;}
  // > 640px || < 820px = (Font-size - (Font-size * 0.125)
  @media screen and (max-width: 820px){font-size: 38px;}
  // < 640px  = (Font-size - (Font-size * 0.1)
  @media screen and (max-width: 640px){font-size: 32px;}
  strong em{
    font-size: 58px;
    @media screen and (min-width: 1920px){font-size: 65px;}
    @media screen and (max-width: 1024px){font-size: 52px;}
    @media screen and (max-width: 820px){font-size: 46px;}
    @media screen and (max-width: 640px){font-size: 40px;}
  }
}

// Пресет, коли треба додати додаткові розміри шрифтів

.h2-larger {
  // > 1280px || < 1920px = (70px - (70px * 0.2)
  font-size: 56px;
  @media screen and (min-width: 1920px){font-size: 70px;}
  // > 1024px || < 1280px = (58px - (58px * 0.15)
  @media screen and (max-width: 1024px){font-size: 50px;}
  // > 820px || < 1024px = (50px - (50px * 0.15)
  @media screen and (max-width: 820px){font-size: 42px;}
  // > 640px || < 820px = (42px - (42px * 0.15)
  @media screen and (max-width: 640px){font-size: 36px;}
}


h3 {
  // > 1280px || < 1920px = Font-size          
  font-size: 46px;
  // < 1920px = (Font-size - (Font-size + (Font-size * 0.2)) 
  @media screen and (min-width: 1920px){font-size: 55px;}
  // > 1024px || < 1280px = (Font-size - (Font-size * 0.05)
  @media screen and (max-width: 1280px){font-size: 44px;}
  // > 820px || < 1024px = (Font-size - (Font-size * 0.125)
  @media screen and (max-width: 1024px){font-size: 39px;}
  // > 640px || < 820px = (Font-size - (Font-size * 0.125)
  @media screen and (max-width: 820px){font-size: 34px;}
  // < 640px  = (Font-size - (Font-size * 0.1)
  @media screen and (max-width: 640px){font-size: 30px;}
}

h4 {
  // > 1280px || < 1920px = Font-size
  font-size: 36px;
  //< 1920px = (Font-size - (Font-size + (Font-size * 0.2))
  @media screen and (min-width: 1920px){font-size: 44px;}
  // > 820px || < 1024px = (Font-size - (Font-size * 0.1)
  @media screen and (max-width: 1024px){font-size: 32px;}
  // > 640px || < 820px = (Font-size - (Font-size * 0.1)
  @media screen and (max-width: 820px){font-size: 29px;}
  // < 640px  = (Font-size - (Font-size * 0.1)
  @media screen and (max-width: 640px){font-size: 26px;}
}


p.sqsrte-large{
  // > 1280px || < 1920px = Font-size
  font-size: 26px;
  // < 1920px = (Font-size - (Font-size + (Font-size * 0.1))
  @media screen and (min-width: 1920px){font-size: 28px;}
  // > 820px || < 1024px = (Font-size - (Font-size * 0.1)
  @media screen and (max-width: 1024px){font-size: 24px;}
  // > 640px || < 820px = (Font-size - (Font-size * 0.1)
  @media screen and (max-width: 820px){font-size: 21px;}
  // < 640px  = (Font-size - (Font-size * 0.1)
  @media screen and (max-width: 820px){font-size: 19px;}
}

p, .p-style {
  // > 1280px || < 1920px = Font-size
  font-size: 22px;
  // < 1920px = (Font-size - (Font-size + (Font-size * 0.1))
  @media screen and (min-width: 1920px){font-size: 24px;}
  // > 820px || < 1024px = (Font-size - (Font-size * 0.05)
  @media screen and (max-width: 1024px){font-size: 21px;}
  // < 640px  = (Font-size - (Font-size * 0.05)
  @media screen and (max-width: 640px){font-size: 20px;}
}

p.sqsrte-small{
  // > 1280px || < 1920px = Font-size
  font-size: 20px;
  // < 1920px = (Font-size - (Font-size + (Font-size * 0.1))
  @media screen and (min-width: 1920px){font-size: 22px;}
  // > 820px || < 1024px = (Font-size - (Font-size * 0.1)
  @media screen and (max-width: 1024px){font-size: 18px;}
  // < 640px  = (Font-size - (Font-size * 0.1)
  @media screen and (max-width: 640px){font-size: 16px;}
}
