section.content-collection {
  .content-wrapper {
    max-width: 1352px;
    margin: 0 auto;
    padding: 0 4vw !important;
    box-sizing: content-box;
    //box-sizing: border-box;
    //padding-bottom: 0 !important;
    .blog-basic-grid,
    .portfolio-grid-basic {
      .flex;
      .flex-wrap;
      .justify-content-space-between;
      max-width: 100%;
      //max-width: 1352px;
      margin: 0 auto;
      padding: 0 !important;
      //padding: 0 4vw !important;
      box-sizing: content-box;
      .transition-all-3;
      .grid-item,
      .blog-basic-grid--container {
        position: relative;
        width: ~"calc(50% - 16px)" !important;
        .grid-image,
        .image-wrapper {
          padding-bottom: 124.395%;
          .projects-image-overlay {
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
          }
          @media only screen and (max-width: 640px) {padding-bottom: 100%;}
        }
        .grid-image-inner-wrapper img {.transition-all-3;}
        .image-wrapper img {transform: none; .transition-all-3;}
        .blog-article-spacer {height: 0;}
        .blog-basic-grid--text,
        .portfolio-text {
          position: absolute;
          top: 0;
          left: 0;
          margin: 0;
          padding: 30px 48px;
          box-sizing: border-box;
          z-index: 2;
          .blog-title { margin-bottom: 0;}
          .blog-title,
          .blog-title a, 
          .portfolio-title, 
          .portfolio-title a {
            font-family: 'FreightBigPro-book';
            font-size: ~"clamp(32px, 2.97618vw, 45px)";
            line-height: 1.111em;
            font-weight: 400;
            text-transform: uppercase;
            color: #FFFFFF;
          }
          @media only screen and (max-width: 1200px) {padding: 27px 32px;}
          @media only screen and (max-width: 900px) {padding: 24px 27px;}
        }
        &:hover {
          opacity: 1;
          .transition-all-3;
          .image-wrapper img,
          .grid-image-inner-wrapper img {transform: scale(1.12); .transition-all-3;}
        }
        @media only screen and (max-width: 819px) {width: ~"calc(50% - 12px)" !important;}         
        @media only screen and (max-width: 640px) {width: 100% !important;}
      }
      .grid-item:nth-child(3n),
      .blog-basic-grid--container:nth-child(3n) {
        width: 100% !important;
        .grid-image, .image-wrapper {
          padding-bottom: 57.175%;
          @media only screen and (max-width: 640px) {padding-bottom: 100%;}
        }
      }
      @media only screen and (max-width: 819px) {
        grid-column-gap: 24px;
        grid-row-gap: 24px;
      }      
    }
    @media only screen and (max-width: 767px) {
      padding-right: 6vw !important;
      padding-left: 6vw !important;
      box-sizing: border-box;
    }
  }
  .projects-section-title {
    max-width: 1352px;
    margin: 0 auto;
    .projects-title {
      margin: 0 0 ~"clamp(36px, 3.3068vw, 50px)";
      text-transform: capitalize;
    }
  }
}
