#siteWrapper .page-section {
  min-height: 40vh !important;
  overflow: hidden;

  .sqs-row {margin: 0 !important;}
  .sqs-grid-12 {overflow: hidden;}

  .content-wrapper {
    position: relative;
    max-width: ~"calc((100vw - (100vw - 1352px) / 2) + 17px)" !important;
    margin: 0 0 0 auto;
    padding: 112px 0 0 4vw;
    z-index: 2;
    @media screen and (max-width: 767px) {padding: 48px 0 0 4vw;}
    .content {
      max-width: 100%;
      margin: 0 auto;
    }
    @media screen and (max-width: 1512px) {
      max-width: ~"calc(100vw - 4vw)" !important;
      .sqs-block {padding-left: 0 !important;} 
    }
    @media screen and (max-width: 767px) {
      max-width: ~"calc(100vw - 2vw)" !important;
    }
  }

  .html-block h1 {
    padding-right: ~"clamp(135px, 11.9047vw, 180px)";
    line-height: 1em !important;
    .bardi-after-element {
      position: relative;
      display: inline-block;
      &:after {
        content: '';
        background: url("data:image/svg+xml,%3Csvg width='84' height='40' viewBox='0 0 84 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_5_359)'%3E%3Cpath d='M41.595 28.477C44.6033 25.6681 45.7748 22.2701 46.7366 18.3549L44.4948 18.0532C44.1983 21.4583 44.2345 24.8851 44.2345 28.2974H46.5196C45.999 21.5086 53.7004 17.342 59.3192 15.6394C60.7221 15.2155 60.1219 13.0173 58.7118 13.4483C52.1384 15.4454 43.6271 20.4167 44.2273 28.2974C44.3357 29.7342 46.5124 29.7773 46.5124 28.2974C46.5124 24.8779 46.4762 21.4583 46.7727 18.0532C46.8812 16.7673 44.8275 16.523 44.531 17.7515C43.6705 21.2572 42.687 24.3391 39.9752 26.8678C38.905 27.8736 40.5176 29.4756 41.595 28.477Z' fill='black'/%3E%3Cpath d='M61.626 17.0762C57.3089 17.2773 50.4463 21.5876 50.0269 26.2859C49.5424 31.717 56.2965 29.806 58.9721 28.1537C64.1932 24.9282 67.4473 18.2328 69.9711 12.8808C71.2293 10.2083 75.3657 3.59914 72.8347 0.696846C72.5888 0.416674 72.0754 0.272996 71.7211 0.402306C69.4432 1.26437 67.5196 4.57616 66.5868 6.70259C64.6415 11.1566 63.7304 16.8247 64.5837 21.6092C65.22 25.1868 67.4473 28.7356 71.5909 28.5058C75.8068 28.2759 78.6632 23.0891 81.0134 20.2371L79.0609 19.4325C79.2345 24.4181 78.533 28.0388 81.3967 32.4353C82.1921 33.6566 84.1735 32.5216 83.3709 31.2859C80.7892 27.3276 81.5052 23.8434 81.3461 19.4325C81.3171 18.5345 80.0589 17.8233 79.3936 18.6279C77.5785 20.8262 75.5609 24.3391 72.9504 25.6322C67.3605 28.4052 66.3915 20.1293 66.6663 16.5158C66.9266 13.1106 67.5558 9.32472 69.313 6.32185C69.7324 5.61064 70.2386 4.92817 70.7448 4.28162C71.1281 3.79311 71.6777 3.31897 72.0103 2.80173L71.2872 2.61495C71.2438 3.10346 71.157 3.57759 71.0269 4.04455C69.624 10.0718 66.0661 15.8046 62.6818 20.9124C60.9246 23.5632 58.5093 26.8175 55.1033 27.5216C53.0207 27.9526 52.2324 26.4009 53.3027 24.5474C53.845 23.6135 54.7996 22.8664 55.6167 22.1911C57.3233 20.7831 59.3409 19.454 61.626 19.3463C63.094 19.2744 63.1012 17.0043 61.626 17.0762Z' fill='black'/%3E%3Cpath d='M1.96694 6.60917C6.78306 3.80744 12.4669 3.18963 17.9556 3.04595C20.6601 2.97411 30.3502 3.66376 26.6767 8.35486C23.4948 12.4209 16.3068 15.4669 11.3388 16.5661C10.0878 16.8462 10.3554 18.8434 11.6426 18.7931C16.4153 18.6135 23.061 19.9066 26.9514 22.9238C31.5289 26.4727 26.1705 28.8937 22.8729 29.4684C19.5754 30.0431 15.7789 30.3089 12.6477 28.8362L12.3729 30.9123C14 30.3951 16.8926 30.2873 18.2521 29.2169C19.4742 28.2543 19.1054 26.7744 19.1054 25.352C19.1343 18.4339 19.1343 11.5301 19.0909 4.59767C19.0837 3.13934 16.7986 3.13216 16.8058 4.59767C16.8202 10.3161 16.8492 16.0416 16.9432 21.7528C17.0372 27.4641 17.3698 32.7586 16.625 38.2255C16.4298 39.6551 18.6353 40.273 18.8306 38.829C20.3564 27.6293 19.1198 15.8692 19.0981 4.59767H16.813C16.8564 10.5388 17.2324 16.4511 16.9215 22.3922C16.8636 23.4842 17.3988 26.8103 16.8492 27.5143C16.6105 27.8161 12.5393 28.477 11.7655 28.7212C10.905 28.9942 10.5506 30.352 11.4907 30.7974C15.938 32.8879 30.9793 33.4842 31.1746 25.6896C31.3554 18.5129 16.4659 16.3434 11.6353 16.523L11.9391 18.75C15.6126 17.931 19.3151 16.0847 22.562 14.2457C25.2593 12.7155 29.656 10.2083 29.8657 6.68101C30.1188 2.42095 24.2614 1.07756 21.0579 0.826121C14.4122 0.316064 6.60951 1.27871 0.809919 4.64796C-0.455577 5.3879 0.686985 7.34911 1.96694 6.60917Z' fill='black'/%3E%3Cpath d='M41.8409 14.4755C40.9659 15.0287 40.0547 15.51 39.1508 15.9841C38.189 16.487 37.2128 16.9755 36.2655 17.5071C35.3182 18.0387 34.3781 18.6063 33.4959 19.2672C32.5847 19.9497 31.7025 20.7255 30.9649 21.6451C30.5744 22.1264 30.22 22.6508 29.9091 23.1968C29.7645 23.4554 29.6271 23.7212 29.5186 23.9942C29.374 24.339 29.2438 24.7054 29.1643 25.079C29.0196 25.7399 28.9979 26.4295 29.1498 27.0905C29.1715 27.191 29.2004 27.2916 29.2366 27.3922C29.3016 27.579 29.3667 27.7658 29.4535 27.9453C29.5837 28.204 29.75 28.4482 29.938 28.6566C30.3213 29.0948 30.7985 29.3965 31.3047 29.5976C31.4928 29.6695 31.6808 29.7198 31.876 29.7557C32.1653 29.806 32.4545 29.8419 32.751 29.8275C33.2862 29.7988 33.8213 29.6839 34.3202 29.454C34.624 29.3103 34.9277 29.1594 35.2097 28.9583C35.4628 28.7787 35.7087 28.5775 35.9473 28.3692C36.5114 27.8879 37.0465 27.3778 37.5454 26.8103C37.9793 26.3218 38.3915 25.7974 38.782 25.2514C39.6136 24.0876 40.3512 22.8448 41.0165 21.5445C41.1684 21.2499 41.313 20.9554 41.4576 20.6537L39.469 20.043C39.5992 21.9109 39.3244 23.7571 39.2304 25.6178C39.2087 26.1278 39.1942 26.6379 39.2159 27.1479C39.2304 27.464 39.3244 27.7801 39.5269 28.01C39.6209 28.1249 39.7366 28.2112 39.874 28.2614C40.0041 28.3405 40.1415 28.3692 40.2861 28.3692C40.5609 28.3548 40.8502 28.2543 41.0382 28.01C41.2262 27.7801 41.3636 27.4784 41.3492 27.1479C41.2841 25.3017 41.5806 23.4698 41.6312 21.6235C41.6457 21.0991 41.6384 20.5675 41.6023 20.043C41.5878 19.9353 41.5733 19.8275 41.5661 19.7198C41.53 19.5617 41.4721 19.4252 41.3781 19.3103C41.3275 19.2169 41.2696 19.1451 41.1828 19.0948C41.0816 18.987 40.9587 18.9152 40.8213 18.8793C40.6333 18.829 40.438 18.829 40.25 18.8793C40.1126 18.9152 39.9897 18.987 39.8884 19.0948C39.7727 19.181 39.6787 19.2959 39.6136 19.4324C39.093 20.51 38.5361 21.566 37.907 22.579C37.7335 22.8663 37.5527 23.1393 37.3647 23.4195C37.4225 23.3405 37.4731 23.2543 37.531 23.1752C36.9019 24.102 36.2076 24.9712 35.4339 25.7471C35.2169 25.9698 34.9855 26.1781 34.7541 26.3864C34.8264 26.3218 34.8988 26.2571 34.9711 26.1997C34.5155 26.5948 34.0454 26.9899 33.5176 27.2413C33.6043 27.1982 33.6911 27.1623 33.7707 27.1192C33.4525 27.2701 33.1198 27.3778 32.78 27.4281C32.874 27.4137 32.968 27.3994 33.062 27.385C32.7655 27.4281 32.4618 27.4353 32.1653 27.385C32.2593 27.3994 32.3533 27.4137 32.4473 27.4281C32.1942 27.3922 31.9556 27.3203 31.7169 27.2054C31.8037 27.2485 31.8905 27.2844 31.97 27.3275C31.7748 27.2341 31.594 27.1192 31.4277 26.9683C31.5 27.033 31.5723 27.0976 31.6446 27.1551C31.5072 27.033 31.3843 26.8965 31.2758 26.7385C31.3337 26.8175 31.3843 26.9037 31.4421 26.9827C31.3409 26.8318 31.2541 26.6666 31.1818 26.487C31.218 26.5804 31.2541 26.681 31.2903 26.7744C31.218 26.5804 31.1746 26.3793 31.1457 26.1781C31.1601 26.2859 31.1746 26.3936 31.1818 26.5014C31.1529 26.2571 31.1601 26.0057 31.1818 25.7614C31.1673 25.8692 31.1529 25.977 31.1457 26.0847C31.189 25.7471 31.2758 25.4166 31.3915 25.1005C31.3554 25.1939 31.3192 25.2945 31.2831 25.3879C31.5 24.806 31.8109 24.26 32.1508 23.7571L31.9845 24.0014C32.4039 23.3907 32.8812 22.8376 33.3946 22.3419C33.5465 22.1982 33.6983 22.0545 33.8502 21.918L33.6333 22.1048C34.7252 21.1494 35.9401 20.3807 37.1766 19.6839C38.4204 18.9798 39.6932 18.3548 40.9514 17.6867C41.6095 17.3347 42.2676 16.9683 42.9039 16.5732C43.1353 16.4295 43.3233 16.135 43.3957 15.8476C43.439 15.6896 43.4463 15.5244 43.4173 15.3663C43.4173 15.2083 43.3667 15.0574 43.2872 14.9137C43.1426 14.6551 42.9184 14.4252 42.6508 14.3534C42.3688 14.2816 42.0868 14.3103 41.8264 14.4755H41.8409Z' fill='black'/%3E%3Cpath d='M82.1271 9.08043L82.7996 9.18818L82.2645 9.10198L82.72 9.42525C82.7634 9.34623 82.7924 9.25284 82.7996 9.181L82.2645 9.09479L82.72 9.41807L82.25 9.08761L82.5754 9.59048C82.626 9.55456 82.6766 9.48991 82.7128 9.41807L82.2428 9.08761L82.5682 9.59048L82.2934 9.17382L82.3946 9.68387C82.3946 9.68387 82.4814 9.66232 82.5682 9.59048L82.2934 9.17382L82.3946 9.68387L82.344 9.43962L82.3729 9.69106H82.3946L82.344 9.43962L82.3729 9.69106C82.3729 9.69106 82.4163 9.69106 82.4597 9.69106C82.5103 9.69106 82.5682 9.69106 82.655 9.67669L82.5682 8.9152L81.8957 8.96548C81.9607 10.0431 82.1343 11.0847 82.1271 12.0186C82.1271 12.5646 82.0692 13.0675 81.9318 13.5273L82.5682 13.7859L83.2045 13.5129C83.1178 13.2543 83.0527 12.8807 83.0165 12.464C82.9587 11.839 82.9659 11.1278 82.9514 10.4813C82.9514 10.158 82.937 9.85629 82.9081 9.56893C82.8936 9.42525 82.8719 9.28876 82.8502 9.15226C82.8213 9.01577 82.7851 8.87928 82.72 8.72841L82.1198 9.08761L81.5196 9.43962L81.5919 9.39652L81.5196 9.43244L81.5341 9.47554C81.563 9.5833 81.5919 9.86347 81.5992 10.2011C81.6136 10.7112 81.6136 11.3721 81.6426 12.0474C81.6787 12.7227 81.7366 13.4123 81.9463 14.0445C82.0475 14.3462 82.3006 14.5474 82.5899 14.5474C82.8719 14.5474 83.125 14.339 83.219 14.0301C83.4287 13.3549 83.1539 12.6724 83.1539 12.0115C83.1539 10.8836 83.313 9.81318 83.2552 8.85772C83.2407 8.64939 83.1539 8.44824 83.0093 8.31893C82.8647 8.18244 82.6767 8.12497 82.4959 8.1537C82.4959 8.1537 82.4452 8.1537 82.3946 8.1537C82.3079 8.1537 82.1921 8.1537 81.9969 8.22554C81.9029 8.26146 81.7727 8.3333 81.6643 8.47698C81.5486 8.61347 81.4762 8.80744 81.4618 8.97267C81.4401 9.13071 81.4618 9.28876 81.5341 9.43244L82.1343 9.08043' fill='%23262626'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_5_359'%3E%3Crect width='84' height='40' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A") no-repeat center;
        background-size: contain;
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
      }
    }
    &:after {
      width: ~"clamp(130px, 10.714vw, 162px)";
      height: ~"clamp(55px, 5.026vw, 76px)";
      top: 55%;
    }
    strong em, em strong {
      font-size: ~"clamp(40px, 5.95237vw, 90px)" !important;
    }
  }

  .code-block {padding-bottom: 0 !important;}

  .wrapper-inner {
    background-color: #3D2E3D;
    position: relative;
    margin-top: 48px;
    padding: 40px;
    border-radius: 16px;
    @media screen and (max-width: 767px) {padding: 16px;}
    &:before {
      content: '';
      position: absolute;
      width: 240px;
      height: 240px;
      background: url(https://static1.squarespace.com/static/6489967520aa207907d79f3f/t/64b3b28b417e2b46ffcb7e8c/1689498251879/1scroll.png);
      background-size: contain;
      right: 48px;
      top: -74px;
      background-repeat: no-repeat;
      @media screen and (max-width: 767px){
        width: 120px;
        height: 120px;
        top: -37px;
        right: 16px;
      }
    }
  }

  .slider-our-team {
    .swiper-slide {height: auto;}
    .swiper-slide .wrap-inner {
      & > * {
        position: relative;
        z-index: 2;
      }
      h1 {
        .team-member-title;
        font-size: 23px !important;
        margin: 10px 0 0;
      }
      .excerpt p {
        .team-member-subtitle;
        margin: 0;
      }
    }
  }

  .arrows-wrapper {display: none;}

  .bottom-controllers {
    .flex;
    .flex-wrap;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    .justify-content-space-between;
    max-width: 1352px;  
    a {
      background-color: #164B15;
      display: inline-block;
      min-width: 200px;
      margin-left: 17px;
      padding: 12px 18px !important;
      box-sizing: border-box; 
      .button-font !important;
      text-align: center;
      color: #FFFFFF !important;
      @media only screen and (max-width: 1049px) {margin: 0 0 40px;}
    }
    @media only screen and (max-width: 1512px) {max-width: 92vw;}
    @media only screen and (max-width: 1049px) {
      .flex-direction-column;
      .about-button {
        width: 100%;
        text-align: center;
      }
    }
  }

  .swiper-scrollbar {
    // background-color: transparent;
    position: relative;
    max-width: ~"calc(100% - 232px)" !important;
    width: 100%;
    height: 4px;
    margin-top: 45px;
    margin-left: -14px;
    margin-bottom: ~"clamp(45px, 4.62962vw, 70px)";
    border-radius: 0;
    @media only screen and (max-width: 1280px) {margin-top: 20px;}
    @media only screen and (max-width: 1049px) {
      max-width: 100% !important;
      margin-bottom: 40px;
    }
    @media only screen and (max-width: 820px) {max-width: 90vw !important;}
    @media only screen and (max-width: 500px) {width: ~"calc(100% - 20px)" !important;}
  }
  
  .swiper-scrollbar-drag {
    background-color: #000000;
    //max-width: 232px;
    cursor: pointer;
    border-radius: 0;
    z-index: 2;
  }
}
